.formatbox{
    position: absolute;
    left: 42%;
    padding: 20px; 
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
   
}
.sound{
    position: absolute;
    right: 10px;
    font-size: 30px;
}
.container{
    margin-top: 50px;
    text-transform: uppercase;
}
a{
    font-size: 30px;
}

.main{
     
    border-style: hidden;
    height: 100vm;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    margin-top: px;
    padding: 0px;

}

.a{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #eccc68;
    /* border-radius: 8px; */
    color: white;
    height: 150px;
    width:300px; 
}
.b{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #ff7f50;
    /* border-radius: 8px; */
    color: white;
    height: 150px;
    width:300px;
}
.c{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #ff6b81;
    /* border-radius: 8px; */
    color: white;
    height: 150px;
    width:300px;
}
.d{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #a4b0be;
    /* border-radius: 8px; */
    color: white;
    height: 150px;
    width:300px;
}
.e{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #57606f;
    /* border-radius: 8px; */
    color: white;
    height: 150px;
    width:300px;
}
.f{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #ffa502;
    /* border-radius: 8px; */
    color: white;
    height: 150px;
    width:300px;
}
.g{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #ff6348;
    /* border-radius: 8px; */
    color: white;
    height: 150px;
    width:300px;
}
.h{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #ff4757;
    /* border-radius: 8px; */
    color: white;
    height: 150px;
    width:300px;
}
.i{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #747d8c;
    /* border-radius: 8px; */
    color: white;
    height: 150px;
    width:300px;
}
.j{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #2f3542;
    /* border-radius: 8px; */
    color: white;
    height: 150px;
    width:300px;
}
.k{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #7bed9f;
    /* border-radius: 8px; */
    color: white;
    height: 150px;
    width:300px;
}
.l{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #70a1ff;
    /* border-radius: 8px; */
    color: white;
    height: 150px;
    width:300px;
}
.m{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #5352ed;
    /* border-radius: 8px; */
    color: white;
    height: 150px;
    width:300px;
}
.n{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #ffffff;
    /* border-radius: 8px; */
    color: black;
    height: 150px;
    width:300px;
}
.o{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #dfe4ea;
    /* border-radius: 8px; */
    color: black;
    height: 150px;
    width:300px;
}
.p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #2ed573;
    /* border-radius: 8px; */
    color: white;
    height: 150px;
    width:300px;
}

.q{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #1e90ff;
    /* border-radius: 8px; */
    color: white;
    height: 150px;
    width:300px;
}
.r{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #3742fa;
    /* border-radius: 8px; */
    color: white;
    height: 150px;
    width:300px;
}
.s{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #f1f2f6;
    /* border-radius: 8px; */
    color: black;
    height: 150px;
    width:300px;
}
.t{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    background-color: #ced6e0;
    /* border-radius: 8px; */
    color: black;
    height: 150px;
    width:300px;
}
